<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402874248924-ifl504g0fcroiomc8s08huaut0vmam9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402874248924-ifl504g0fcroiomc8s08huaut0vmam9i</string>
	<key>API_KEY</key>
	<string>AIzaSyCTc4Qpcu40K1KmNIvwgdzvsGlgAJX0ZZY</string>
	<key>GCM_SENDER_ID</key>
	<string>402874248924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.physi.nowvilla.challengefromancientegypt</string>
	<key>PROJECT_ID</key>
	<string>challenge-from-ancient-egypt</string>
	<key>STORAGE_BUCKET</key>
	<string>challenge-from-ancient-egypt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402874248924:ios:9a19dfd7fdb737c808ce19</string>
</dict>
</plist>